.sticky {   
    float: left;
    width: 200px;
    height: 200px;
    margin: 5px 5px 5px 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,.2);
    background-color: yellow;
    position: relative;
}